<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon_blue.png">
    <meta name="description" content="Login form of the wall assignment">
    <meta name="author" content="Noel M. Dasco Jr.">
    <link rel="stylesheet" href="/assets/css/index.min.css">
    <title>The Wall | Sign In</title>
</head>
<body>
    <div class="container">
        <section>
            <form id="login_form">
                <h1>The Wall</h1>
                <h2>Log In</h2>
                <label>
                    Email
                    <input type="text" id="email_input" tabindex="1">
                    <span id="email_error" class="hide">sample</span>
                </label>           
                <label>
                    Password
                    <a href="#">Forgot Password ?</a>
                    <input type="password" id="password_input" tabindex="2"> 
                    <span id="password_error" class="hide">sample</span>
                </label>
                <button type="submit">SIGN IN</button>
                <p>I don't have an account ? <a href="sign_up.html">Sign up</a></p>
            </form>
        </section>
        <div class="image_holder">
            <img src="/assets/images/Group_2019.svg" alt="A guy holding a brown paper">
        </div>
    </div>
    <script src="/assets/js/index.js"></script>
</body>
</html>