<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon_blue.png">
    <meta name="description" content="Registration form of the wall assignment">
    <meta name="author" content="Noel M. Dasco Jr.">
    <link rel="stylesheet" href="/assets/css/sign_up.min.css">
    <title>The Wall | Register</title>
</head>
<body>
    <div class="container">
        <section>
            <form id="sign_up">
                <h1>The Wall</h1>
                <h2>Register</h2>
                <label>
                    Email
                    <input type="text" id="email_input" tabindex="1" autocomplete="email"> 
                    <span id="email_error" class="hide">sample</span>
                </label>           
                <label>
                    Password
                    <input type="password" id="password_input" tabindex="2" autocomplete="new-password"> 
                    <span id="password_error" class="hide">sample</span>
                </label>
                <label>
                    Confirm Password
                    <input type="password" id="confirm_password_input" tabindex="3" autocomplete="new-password"> 
                    <span id="confirm_password_error" class="hide">sample</span>
                </label>
                <p class="agreement">By creating an account, you agree with The Wall's <a href="#">Privacy Policy</a> and <a href="#">Terms of Use</a>.</p>
                <button type="submit" tabindex="4">SIGN UP</button>
                <p>Already have an account ? <a href="index.html">Sign In</a></p>
            </form>
        </section>
        <div class="image_holder">
            <img src="/assets/images/Group_2019.svg" alt="A guy holding a brown paper">
        </div>
    </div>
    <script src="/assets/js/global.js"></script>
    <script src="/assets/js/sign_up.js"></script>
</body>
</html>